<p>Creating a new article</p>

<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |error_message| %>
    <p color='red'><%= error_message %></p>
  <% end %>  
<% end%>
<%= form_with scope: :article, url: articles_path, local: true do |f| %>
  <p>
    <%= f.label :title%></br>
    <%= f.text_field :title %>
  </p>
  <p>  
    <%= f.label :description %></br>
    <%= f.text_area :description %>
  </p>  

  <p>
    <%= f.submit "Save Article" %>
  </p>
<% end %>